<h1>Sign Up</h1>
<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label>Username:
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <br>


  <label>
    happy<input type="checkbox" name="user[user_disposition][]" value="happy">
  </label>
  <label>
    sad<input type="checkbox" name="user[user_disposition][]" value="sad">
  </label>
  <label>
    gassy<input type="checkbox" name="user[user_disposition][]" value="gassy">
  </label>


  <input type="submit" value="Sign Up">
</form>
